EMAIL_USER=amin.hroca@gmail.com
EMAIL_PASS= HAdia@2050
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
KEYWORDS=junior python,entry level python,junior backend,python trainee,junior developer,graduate python,junior software,asociado python,becario programador