EMAIL_USER=example@email.com
EMAIL_PASS= password
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
KEYWORDS=junior python,entry level python,junior backend,python trainee,junior developer,graduate python,junior software,asociado python,becario programador
